<h1 align='center'>CAMPUS YAVIRAC TEC</h1>
<mat-progress-bar mode="buffer" ></mat-progress-bar>
<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    INVENTARIO
        </button>
        <div class="submenu">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a class="dropdown-item" href="francisco">INFORMACION DEL CAMPUS</a>
                  <a class="dropdown-item" href="ghostLDU">REGISTRO DE RECURSOS</a>
                  <a class="dropdown-item" href="Alarcon">INFORMACION DE RECURSOS</a>
                  <a class="dropdown-item" href="cuartaPagina">cuartaPagina</a>
                  <a class="dropdown-item" href="quintaPagina">quintaPagina</a>
        </div>
      </div>
<br>
<div class="pantalla" align ='center'>
    <img src="../../assets/img/3.jfif" >
</div>
<div class="pantalla1" align ='center'>
  <img src="../../assets/img/3.jfif" >
</div>
<div class="mat-elevation-z8" >
    <h2 align='center'>REGÍSTRATE</h2>
                <table mat-table [dataSource]="dataSource">
        
                  <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> NOMBRE DEL CAMPUS </th>
                    <td mat-cell *matCellDef="let element"> {{numero}} </td>
                  </ng-container>
              
              
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>DIRECCIÓN DEL CAMPUS</th>
                    <td mat-cell *matCellDef="let element"> {{nombre}}</td>
                  </ng-container>
            
                  <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef> PAÍS </th>
                    <td mat-cell *matCellDef="let element"> {{apellido}} </td>
                  </ng-container>
          
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> EMAIL</th>
                    <td mat-cell *matCellDef="let element"> {{Email}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef> TELÉFONO</th>
                    <td mat-cell *matCellDef="let element"> {{telefono}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                </table>
</div>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="numero" type="text" [ngModelOptions]="{standalone: true}"matInput placeholder=  'NOMBRE DEL CAMPUS' value="Sushi" >
      </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [(ngModel)]="nombre" type="text" [ngModelOptions]="{standalone: true}"matInput placeholder="DIRECCIÓN DEL CAMPUS" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        
      <input [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}"matInput placeholder="PAÍS" value="Sushi">
        
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="Email" type="email" [ngModelOptions]="{standalone: true}"matInput placeholder="Email" value="Sushi">
        
     </mat-form-field>

     <mat-form-field class="example-full-width">
      <span matPrefix>+593 &nbsp;</span>
      <input [(ngModel)]="telefono" type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="TELÉFONO" value= 'telefono' max="10">
      
    </mat-form-field>
    
  </form>
  <div class="icono1">
    <img src="../../assets/img/3.png" >
</div>
<div class="icono2">
  <img src="../../assets/img/3.png" >
</div>
<div class="boton1">
  <button  type="button" class="w3-button w3-display-topright" style="font-weight:bold;"><a href='francisco' >GUARDAR</a></button>
</div>

